<div class="container">
  <div class="jumbotron">
  <h2><%= @group.name %></h2>
  <%= @group.description %>
  </div>
  <%@group.videos.each_slice(6) do |videos_slice|%>
    <div class="row">
      <% videos_slice.each do |video| %>
        <div class="col-sm-2">
          <%= link_to(image_tag(video.video_url.thumb, :size=>"160x94", :class=>"img-rounded"), video_path(video.id)) %>
          <%= link_to video.title, video_path(video.id) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
