
<div class="centered">

  <%= video_player({:file => "https://captainvideos.s3.amazonaws.com/uploads/video/video_url/1/clubbed%2Bto%2Bdeath%2B-%2BMatrix%2Bsoundtrack.mp4"}, {:width => 768, :height => 432}) %>
</div>
<%=@videos.sample.content%>
<div>
  <h2>Featured</h2>
  <%@videos.each do |video|%>
    <div>
      <a href=""><%=video.title%></a>
    </div>
  <%end%>
</div>

<div>
  <h2>New</h2>
</div>