
<div class="centered">

  <%= video_player({:file => @videos.sample.video_url}, {:width => 768, :height => 432}) %>
</div>

<div>
  <h2>Featured</h2>
  <%@videos.each do |video|%>
    <div>
      <a href=""><%=video.title%></a>
    </div>
  <%end%>
</div>

<div>
  <h2>New</h2>
</div>