
<div class="centered">
  <%= video_player({:file => "https://s3-us-west-2.amazonaws.com/captinvideos/clubbed+to+death+-+Matrix+soundtrack.mp4", :image => "/assets/matrix_reloaded.jpg"}, {:width => 854, :height => 480}) %>
</div>
