<div class="container">
  <div>
    <% @all_users.each do |user| %>
      <div class="pull-left listing-box"><%=link_to user.username, community_path(user.username)%></div>
    <% end %>
  </div>
</div>
