/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: #232323;
}
.container {
  color: beige;
  width: 1088px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 80px;
  margin-bottom: 8px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 54em;
}

.form {
  width: 172px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}