html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.container-fluid .text-muted {
  margin: 20px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #EEF1F5;
}
.navbar-brand{
  font-size: 26px;
}
.listing-box{
  width: 180px;
  height: 80px;
}
