html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 90px;
}
.container-fluid .text-muted {
  margin: 20px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #EEF1F5;
}
.navbar-brand{
  font-size: 26px;
}
.listing-box{
  width: 180px;
  height: 80px;
}
.video-spacer{
  min-width: 768px;
}
.alert-warning{
  background-color: #FFF6CA;
}
