<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <% @tags.each do |tag| %>
        <center>
          <div class="pull-left listing-box"><%=link_to tag.name, category_path(tag.name)%></div>
        </center>
      <% end %>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
