<div class="container">
  <h2><%= @all_tags.last.tag%></h2>
  <div class="row">
    <% @all_tags.each do |tagged_vid| %>
      <div class="col-sm-2">
        <%= link_to(image_tag(tagged_vid.video.image, :size=>"160x94", :class=>"img-rounded"), video_path(tagged_vid.video.id)) %>
        <%= link_to tagged_vid.video.title, video_path(tagged_vid.video.id) %>
      </div>
    <% end %>
  </div>
</div>
