<div class="container">
  <%if notice %>
    <p class="alert notice alert-info"><%= notice %></p>
  <%end%>
  <% if alert %>
    <p class="alert notice alert-warning"><%= alert %></p>
  <%end%>
</div>
